{% load get_item %}
{% load times %}
{% load times_reverse %}

<div class="chess_board">
  {% for row in 8|times_reverse %}
    <div class="row">
      {% for column in 8|times %}
        {% with key=""|add:row|add:","|add:column %}
          {% if board|get_item:key|get_item:'promote_me_daddy' %}
            <div class="square promote"
                  data-row={{row}}
                  data-column={{column}}
                  data-name={{board|get_item:key|get_item:'name'}}
                  data-color={{board|get_item:key|get_item:'color'}}
                  id="{{row}},{{column}}">
          {% else %}
            <div class="square" data-row={{row}} data-column={{column}} id="{{row}},{{column}}">
          {% endif %}
            {% if board|get_item:key|get_item:'image' %}
              <img src="{{ board|get_item:key|get_item:'image' }}">
            {% endif %}
          </div>
        {% endwith %}
      {% endfor %}
    </div>
  {% endfor %}
</div>