{% extends 'chess/secondary/piece_card.html' %}
{% load index %}

{% block details %}
<div class='moves'>
  {% for i in '0123'|make_list %}
    <div class="movement">
        <h6 class="card-subtitle">Directions {{ forloop.counter }}</h6>
        <div>
          {% for direction in enums.directions %}
            <div class="form-check">
              {% with move=data.moves|index:i %}
              {% if direction in move.directions %}
                <input data-piece="{{piece}}" data-index="{{i}}" data-key="directions" data-value="{{direction}}" type="checkbox" class="form-check-input" name="{{ piece }}{{ i }}direction" checked>
              {% else %}
                <input data-piece="{{piece}}" data-index="{{i}}" data-key="directions" data-value="{{direction}}" type="checkbox" class="form-check-input" name="{{ piece }}{{ i }}direction">
              {% endif %}
              {% endwith %}
              <label class="form-check-label" for="{{ piece }} {{ direction }}">{{ direction }}</label>
            </div>
          {% endfor %}
        </div>

        <h6 class="card-subtitle">Pre-Move Checks {{ forloop.counter }}</h6>
        <div>
          {% with move=data.moves|index:i %}
          {% for check in move.pre_move_checks %}
            <div class="d-flex flex-row">
              <div>
                <textarea>{{ check.locations|join:"&#13;&#10;" }}</textarea>
              </div>
              <div class="form-check d-flex flex-column">
                {% for check_definition in enums.pre_move_checks %}
                  {% with j=forloop.counter %}
                    <div>
                      {% if check_definition in check.checks %}
                        <input data-piece="{{piece}}" data-index="{{i}}" data-key="pre_move_checks" data-value="{{check_definition}}" type="checkbox" class="form-check-input checked" name="{{ piece }}{{ i }}{{ j }}{{ check_definition }}" checked>
                      {% else %}
                        <input data-piece="{{piece}}" data-index="{{i}}" data-key="pre_move_checks" data-value="{{check_definition}}" type="checkbox" class="form-check-input" name="{{ piece }}{{ i }}{{ j }}{{ check_definition }}">
                      {% endif %}
                      <label class="form-check-label" for="{{ piece }}{{ i }}{{ j }}{{ check_definition }}">{{ check_definition }}</label>
                    </div>
                  {% endwith %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
          {% endwith %}
        </div>

        <h6 class="card-subtitle"> Movement Rules {{ forloop.counter }}</h6>
        <div>
          {% for movement in enums.movements %}
            <div class="form-check">
              {% with move=data.moves|index:i %}
                {% if movement in move.conditions %}
                  <input data-piece="{{piece}}" data-index="{{i}}" data-key="conditions" data-value="{{movement}}" type="checkbox" class="form-check-input checked" name="{{ piece }}{{ i }}condition" checked>
                {% else %}
                  <input data-piece="{{piece}}" data-index="{{i}}" data-key="conditions" data-value="{{movement}}" type="checkbox" class="form-check-input" name="{{ piece }}{{ i }}condition">
                {% endif %}
              {% endwith %}

              <label class="form-check-label" for="{{ piece }} {{ movement }}">{{ movement }}</label>
            </div>
          {% endfor %}
        </div>

        <h6 class="card-subtitle"> Capture Actions {{ forloop.counter }}</h6>
        <div>
          {% for action in enums.capture_actions %}
            <div class="form-check">
              {% with move=data.moves|index:i %}
                {% if action in move.capture_actions %}
                  <input data-piece="{{piece}}" data-index="{{i}}" data-key="capture_actions" data-value="{{action}}" type="checkbox" class="form-check-input" name="{{ piece }}{{ i }}capture_action" checked>
                {% else %}
                  <input data-piece="{{piece}}" data-index="{{i}}" data-key="capture_actions" data-value="{{action}}" type="checkbox" class="form-check-input" name="{{ piece }}{{ i }}capture_action">
                {% endif %}
              {% endwith %}
              <label class="form-check-label" for="{{ piece }} {{ action }}">{{ action }}</label>
            </div>
          {% endfor %}
        </div>

        <h6 class="card-subtitle"> Additional Capture Locations {{ forloop.counter }}</h6>
        <div>
          {% with move=data.moves|index:i %}
            <textarea>{{ move.capture_at|join:"&#13;&#10;" }}</textarea>
          {% endwith %}
        </div>


        <h6 class="card-subtitle"> Post Move Actions {{ forloop.counter }}</h6>
        <div>
          {% for action in enums.post_move_actions %}
            <div class="form-check">
              {% with move=data.moves|index:i %}
                {% if action in move.post_move_actions %}
                  <input data-piece="{{piece}}" data-index="{{i}}" data-key="post_move_actions" data-value="{{action}}" type="checkbox" class="form-check-input" name="{{ piece }}{{ i }}post_move_action" checked>
                {% else %}
                  <input data-piece="{{piece}}" data-index="{{i}}" data-key="post_move_actions" data-value="{{action}}" type="checkbox" class="form-check-input" name="{{ piece }}{{ i }}post_move_action">
                {% endif %}
              {% endwith %}
              <label class="form-check-label" for="{{ piece }} {{ action }}">{{ action }}</label>
            </div>
          {% endfor %}
        </div>

        <h6 class="card-subtitle">Side Effects {{ forloop.counter }}</h6>
          {% with move=data.moves|index:i %}
          <div class="d-flex flex-row">
              <textarea>{{ move.side_effects }}</textarea>
          </div>
          {% endwith %}
        </h6>


      </div>
  {% endfor %}
</div>
{% endblock %}