{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/configuration.css' %}">

  <title>Configure Chess</title>
</head>

<body>
  <h1>Template loaded!!</h1>
  <form action={% url 'Chess:configure-edit' id %} method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
  <div class='pieces'>
    <div class="url" data-url="http://127.0.0.1:8000/api/chess-configuration/4/"></div>
    {% for piece, data in pieces.items %}
      <div class='card'>
        <img class='card-img-top' src={{ data.image }} alt={{ piece }}>
        <div class='card-body'>
          <div class='title'>
            <h4 class="card-title">{{ piece }}</h4>
          </div>
          {% block piece_configuration %}
          {% endblock %}
        </div>
      </div>
    {% endfor %}
  </div>

  <script src="{% static 'js/configuration.js' %}"></script>
</body>