{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  {% block head %}

  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href={% url 'Chess:home' %}>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'Chess:create-game' %}>New Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'Chess:configure' %}>Define New Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="">Current Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="">Complete Games</a>
      </li>
  </nav>
  {% block body %}

  {% endblock %}
</body>