{% extends 'chess/header.html' %}

{% block body %}
  <div id="users" class="d-flex flex-wrap">
    {% for game_type in game_types %}
      <div class="card">
        <h2 class="cart-title text-center">{{ game_type.name }}</h2>
        <div class="card-body">
          <p class="text-center">{{ game_type.description }}</p>
          <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-primary mr-1" href={% url 'Chess:configure-edit' game_type.id %}>View</a>
            <a type="button" class="btn btn-primary ml-1" href={% url 'Chess:create-game-redirect' game_type.id %}>Play</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
