{% extends 'chess/header.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block head %}
  <link rel="stylesheet" href="{% static 'css/configuration.css' %}">

  <title>Configure Chess</title>
{% endblock %}
</head>

{% block body %}
  <h1>Template loaded!!</h1>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <form action={% url 'Chess:configure-edit' id %} method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Submit">
    </form>
    <button data-url={% url 'chess-configuration-detail' id %} data-redirect_url={% url 'Chess:home' %} class="delete btn btn-danger btn-sm rounded-0 align-items-center" type="button" data-toggle="tooltip" data-placement="top" title="Delete"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
  </div>
  <div class='pieces'>
    <div class="url" data-url={{ checkmark_url }}></div>
    {% for piece, data in pieces.items %}
      {% include "chess/secondary/piece_configuration.html" with piece=piece data=data enums=enums %}
    {% endfor %}
  </div>

  <script src="{% static 'js/configuration.js' %}"></script>
{% endblock %}