{% extends 'chess/header.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block head %}
  <link rel="stylesheet" href="{% static 'css/configuration.css' %}">

  <title>Configure Chess</title>
{% endblock %}
</head>

{% block body %}
  <h1>Template loaded!!</h1>
  <form action={% url 'Chess:configure-edit' id %} method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
  <div class='pieces'>
    <div class="url" data-url={{ checkmark_url }}></div>
    {% for piece, data in pieces.items %}
      <div class='card'>
        <img class='card-img-top' src={{ data.image }} alt={{ piece }}>
        <div class='card-body'>
          <div class='title'>
            <h4 class="card-title">{{ piece }}</h4>
          </div>
          {% include "chess/secondary/piece_configuration.html" with piece=piece data=data enums=enums %}

        </div>
      </div>
    {% endfor %}
  </div>

  <script src="{% static 'js/configuration.js' %}"></script>
{% endblock %}