{% extends 'chess/header.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/create_game.css' %}">

  <title>Select Game Type To Play</title>
{% endblock %}

{% block body %}
  <div class="game_types">
    {% for game_type in game_types %}
      <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="{{ game_type.description }}" href={% url 'Chess:create-game-redirect' game_type.id %} >
        {{ game_type.name }}
      </a>
    {% endfor %}
  </div>
{% endblock %}