{% extends 'chess/header.html' %}
{% load static %}
{% load get_item %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/board.css' %}">
  <link rel="stylesheet" href="{% static 'css/play_game.css' %}">
  <link rel="stylesheet" href="{% static 'css/history.css' %}">
  <link rel="stylesheet" href="{% static 'css/piece_selection.css' %}">
{% endblock %}

{% block body %}
  <h1>Would you like to play a Game?</h1>
  <div class="destinations_url" data-url={{ destinations_url }}></div>
  <div class="move_url" data-url={{ move_url }}></div>
  <div class="promote_url" data-url={{ promote_url }}></div>
  <div id="game_id" data-id={{ id }}></div>

  <div class="game">
    {% include "chess/secondary/piece_selection.html" with promotion_pieces=promotion_pieces %}
    {% include "chess/secondary/board.html" with columns=8 rows=8 board=board %}
    <div class="sidebar">
      <div class="rules">
        <h3>{{ rule_summary|get_item:"name" }}</h3>
        <p>{{ rule_summary|get_item:"description" }}</p>
      </div>
      <div class="invite">
        {% if not ready_to_play %}
          <p>First to sign in at: <a href="#" class="join" data-url={{ join_url }}>{{ join_url }}</a>  will be player 2.</p>
        {% endif %}
      </div>
      <div>
        <h3 id="turn">{{ turn|title }}'s Turn</h3>
      </div>
      <div class="history">
        <div class="history-headers">
          <div class="links">
            <a href="#" class="history_action first round" data-url={% url 'history-first' pk=id %}>&laquo; first</a>
            <a href="#" class="history_action previous round" data-url={% url 'history-previous' pk=id %}>&laquo; previous</a>
            <a href="#" class="history_action next round" data-url={% url 'history-next' pk=id %}>next &raquo;</a>
          </div>
          <h3 >White {{ game.player1|title|default:"NA" }}</h3>
          <h3>Black {{ game.player2|title|default:"NA" }}</h3>
        </div>
        <div id="history-content" class="history-content">
          {% for item in history %}
            <p class={{item|get_item:'class'}}>
              {{item|get_item:'name'}}
              {% if item|get_item:'images' %}
                {% for image in item|get_item:'images' %}
                  <img src="{{image}}">
                {% endfor %}
              {% endif %}
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_imports %}
  <script src="{% static 'js/history.js' %}"></script>
  <script src="{% static 'js/board.js' %}"></script>
  <script type="module" src="{% static 'js/play_game.js' %}"></script>
  <script type="module" src="{% static 'js/piece_selection.js' %}"></script>
{% endblock %}