.chess_board {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.row {
  display: flex;
  margin: 0;
}

.square {
  flex: 1;
  height: 9vmin;
  width: 9vmin;
}

.dark {
  background-color: darkblue;
}

.light {
  background-color: lightblue;
}

.square img {
  height: 100%;
  width: 100%;
}

.selected {
  border: 1px solid darkgreen;
  background-color: lightgreen;
}

.destination {
  border: 1px solid gray;
  background-color: lightgray;
}