.popover-body .card {
  width: 10vh;
  height: 10vh;
  align-items: center;
}

.popover-body .card img {
  width: 60%;
  height: 60%;
}

.popover-body .card .card-body {
  padding: 0;
}

.popover {
  text-align: center;
}