.chess_board {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vh;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  height: 11vh;
  width: 11vh;
}

.dark {
  background-color: darkblue;
}

.light {
  background-color: lightblue;
}

.square img {
  height: 100%;
  width: 100%;
}

.selected {
  border: 1px solid darkgreen;
  background-color: lightgreen;
}

.destination {
  border: 1px solid gray;
  background-color: lightgray;
}